# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
/staticfiles/
/media/
static/

# Environments
env/
venv/
ENV/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
*.egg-info/

# Backup / temp files
*.bak
*.swp
*.tmp

# Node / Next.js
node_modules/
.next/
out/
build/
dist/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*